server:
  port: 8084

spring:
  application:
    name: paiement-service

  datasource:
    url: jdbc:mysql://localhost:3306/gestion_hotel?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

# Configuration Stripe
# Configuration Stripe


# Configuration PayPal (Mode Sandbox)
paypal:
  mode: sandbox
  client:
    id: YOUR_PAYPAL_CLIENT_ID
    secret: YOUR_PAYPAL_CLIENT_SECRET

# URL des autres services
services:
  reservation:
    url: http://192.168.100.13:8083/api