server:
  port: 8083
  address: 0.0.0.0
spring:
  application:
    name: reservation-service
  datasource:
    url: jdbc:mysql://localhost:3306/gestion_reservations?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true

services:
  utilisateurs:
    url: http://localhost:8080
  chambres:
    url: http://localhost:8082
 #http://localhost:8083
  paiements:
    url: http://localhost:8084

logging:
  level:
    com.hotel.reservation_service: DEBUG
