<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuration de la base de données MySQL avec XAMPP -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestion_hotel?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">0000</property>

        <!-- Dialecte MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Afficher les requêtes SQL dans la console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Création automatique des tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Pool de connexions -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>

        <!-- Mapping des entités -->
        <mapping class="com.hotel.entities.Utilisateur"/>
        <mapping class="com.hotel.entities.Chambre"/>
        <mapping class="com.hotel.entities.Reservation"/>
        <mapping class="com.hotel.entities.Facture"/>
        <mapping class="com.hotel.entities.Paiement"/>
    </session-factory>
</hibernate-configuration>