server:
  port: 8083
  address: 0.0.0.0

spring:
  application:
    name: reservation-service

  datasource:
    url: jdbc:mysql://mysql:3306/gestion_reservations?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true

  # Configuration Email
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

# Services externes
services:
  utilisateurs:
    url: http://user-service:8080
  chambres:
    url: http://chambre-service:8082
  paiements:
    url: http://localhost:8084

# Email sender
app:
  mail:
    from: contact@hotelms.com
    from-name: HotelMS

# Logging
logging:
  level:
    com.hotel.reservation_service: DEBUG
